h1 {
    color: goldenrod;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

.container{
    align-items: center;
    margin-top: 100px;
    scale : 1.5;
}

#message-el{
    font-style: italic;

}

.button-team{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    
}

button{
    color: #016f32;
    width: 150px;
    background: rgb(223, 189, 105);
    font-weight: bold;
    font-size: medium;
    padding-inline: 5px;
    border-radius: 2px;
    border: none;
}